%page-header
  %h1 Listado de Distritos Locales

%table.table.table-hover
  %thead
    %tr
      %th Nombre
      %th Diputado Local
      %th Prioridad
      %th Observaciones
      %th Image
      %th

  %tbody
    - @locals.each do |local|
      %tr
        %td= link_to local.nombre, local
        %td= local.diputado
        %td= local.prioridad
        %td= local.observaciones
        %td= image_tag local.image.thumb
        %td
