%p#notice= notice

%h1= @local.nombre
%p= @local.diputado
%p= @local.prioridad
%p= @local.observaciones
%p= image_tag @local.image, height: "300"

%h2 Municipios que lo integran
- @local.cities.each do |city|
  %p= link_to city.nombre, city

%br

%p= link_to 'Regresar', locals_path, class: "btn btn-primary"
