%page-header
  %h1 Listado de Distritos

%table.table.table-hover
  %thead
    %tr
      %th Nombre
      %th Diputado
      %th Prioridad
      %th Observaciones
      %th Image
      %th

  %tbody
    - @districts.each do |district|
      %tr
        %td= link_to district.nombre, district
        %td= district.diputado
        %td= district.prioridad
        %td= district.observaciones
        %td= image_tag district.image.thumb
        %td
