%page-header
  %h1 Listing cities

%table.table.table-hover
  %thead
    %tr
      %th Nombre
      %th Presidente Municipal
      %th Prioridad
      %th Observaciones
      %th Image
      %th

  %tbody
    - @cities.each do |city|
      %tr
        %td= link_to city.nombre, city
        %td= city.pdte_mpal
        %td= city.prioridad
        %td= city.observaciones
        %td= image_tag city.image.thumb
        %td
