%p#notice= notice

%h1= @city.nombre
%p= @city.presidente_mpal
%p= @city.prioridad
%p= @city.observaciones
%p= image_tag @city.image, height: "300"

%br

%p= link_to 'Regresar', :back, class: "btn btn-primary"
