%page-header
  %h1 Listado de Distritos Federales

%table.table.table-hover
  %thead
    %tr
      %th Nombre
      %th Diputado Federal
      %th Prioridad
      %th Observaciones
      %th Image
      %th

  %tbody
    - @federals.each do |federal|
      %tr
        %td= link_to federal.nombre, federal
        %td= federal.diputado
        %td= federal.prioridad
        %td= federal.observaciones
        %td= image_tag federal.image.thumb
        %td
