%p#notice= notice

%h1= @federal.nombre
%p= @federal.diputado
%p= @federal.prioridad
%p= @federal.observaciones
%p= image_tag @federal.image, height: "300"

%h2 Municipios que lo integran
- @federal.cities.each do |city|
  %p= link_to city.nombre, city

%br

%p= link_to 'Regresar', federals_path, class: "btn btn-primary"
